html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html {
    background: url("./background-image.jfif") no-repeat center center fixed;
    width: auto;
    background-size: cover;
}

body {
    display: flex;
    
}

#root {
    width: 100%;
    height: 100%;
}