html {
    max-width: 100%;
    min-width: 600px;
    height: auto;
    background-image: url("./background-image.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.rect{
    height: 400px;
    width: 600px;
    background: rgba(223, 219, 209, 0.54);
    border-radius: 54px;
}

.container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.logo{
    height: 80px;
}

.join{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}