:root{
    --rect-left-margin: 1em;
    --rect-top-margin: 1em;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 4em;
}

.logo{
    min-height: 80px;
    height: 80px;
}

.sub-container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.rect{
    height: 380px;
    width: 600px;
    background: rgba(223, 219, 209, 0.54);
    border-radius: 54px;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: black;
    margin-left: var(--rect-left-margin);
    margin-top: 1em;
}

.market {
    display: flex;
    gap: 3em;
    margin-left: 2em;
}

.social-icons {
    display: flex;
    gap: 1em;
    margin-left: 2em;
}

img{
    width: attr(width);
    width: attr(height);
}